<%= render "shared/header" %>
<div class='main'>

  <%# Serviceの説明部分  %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      Service
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to image_tag("keyboard.png", class:"list-pict"), new_case_path %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>案件登録</span>
        </h3>
        <p class='reason-list-description'>
          フォームで簡単に入力！
        </p>
      </li>
      <% if current_user %>
        <li class='list'>
          <%= link_to image_tag("flag2.png", class: "list-pict"), user_path(current_user) %>
          <span class='reason-list-number'>2</span>
          <h3 class='reason-list-text'>
            <span class='reason-list-blue-text'>マイページ</span>
          </h3>
          <p class='reason-list-description'>
            自分の案件を一覧で確認！
          </p>
        </li>
      <% else %>
        <li class='list'>
          <%= image_tag("flag2.png", class: "list-pict") %>
          <span class='reason-list-number'>2</span>
          <h3 class='reason-list-text'>
            <span class='reason-list-blue-text'>マイページ</span>
          </h3>
          <p class='reason-list-description'>
            自分の担当案件を一覧で確認！
            (※ログインが必要です)
          </p>
        </li>
      <% end %>
      <li class='list'>
        <%= image_tag "search2.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>案件詳細検索</span>
        </h3>
        <p class='reason-list-description'>
          様々な項目で案件を検索！
        </p>
      </li>
    </ul>
  </div>
  <%# /Serviceの説明部分 %>

  <%# 本日期限一覧 %>
  <div class='item-contents'>
    <h2 class='title'>本日期限一覧</h2>
    <div class="subtitle" >
      要対応
    </div>
    <ul class='item-lists'>

      <%# 担当者に関わらず本日期限を一覧で表示 %>
      <%# //担当者に関わらず本日期限を一覧で表示 %>

    </ul>
  </div>
  <%# /本日期限一覧 %>
</div>
<div class="fixed-button-container">
  <%= link_to(new_case_path, class: 'record-btn case-record-btn') do %>
    <span class='record-btn-text case-record-btn-text'>案件<br>登録</span>
  <% end %>

  <%= link_to(new_contact_path, class: 'record-btn contact-record-btn') do %>
    <span class='record-btn-text contact-record-btn-text'>担当者<br>登録</span>
  <% end %>

  <%= link_to('#', class: 'record-btn applicant-record-btn') do %>
    <span class='record-btn-text applicant-record-btn-text'>出願人<br>登録</span>
  <% end %>

  <%= link_to('#', class: 'record-btn attorney-firm-record-btn') do %>
    <span class='record-btn-text attorney-firm-record-btn-text'>代理人<br>登録</span>
  <% end %>

  <%= link_to('#', class: 'record-btn procedure-record-btn') do %>
    <span class='register-btn-text procedure-register-btn-text'>内容<br>登録</span>
  <% end %>
</div>
<%= render "shared/footer" %>