<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>ProjectBuddyについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'ProjectBuddy利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>ProjectBuddyを見る</h2>
      <ul>
        <li><%= link_to '案件登録', "#", class: "footer-link" %></li>
        <li><%= link_to 'マイページ', "#", class: "footer-link" %></li>
        <li><%= link_to '案件詳細検索', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>ProjectBuddyについて</h2>
      <ul>
        <li><%= link_to 'ProjectBuddyガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'ProjectBudyロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© ProjectBuddy</p>
</div>