<%= render "shared/second-header"%>

<%= form_with model: @contact, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      担当者情報入力
    </h1>
  </div>

  <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
  <%= render 'shared/error_messages', model: f.object %>
  <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前(全角)</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :last_name_jp, class:"input-name", id:"last-name-jp", placeholder:"例) スミス" %>
      <%= f.text_area :first_name_jp, class:"input-name", id:"first-name-jp", placeholder:"例) ジョン" %>
    </div>
    <p class='info-text'>※ お名前は正しく入力してください。</p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前(半角英字)</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :last_name_en, class:"input-name", id:"last-name-en", placeholder:"例) Smith" %>
      <%= f.text_area :first_name_en, class:"input-name", id:"first-name-en", placeholder:"例) John" %>
    </div>
    <p class='info-text'>※ お名前は正しく入力してください。</p>
  </div>
  <br>
  <div class='register-btn'>
    <%= f.submit "登録" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>

<%= render "shared/second-footer"%>