<%= render "shared/second-header"%>

<%= form_with model: @procedure, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      内容情報入力
    </h1>
  </div>

  <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
  <%= render 'shared/error_messages', model: f.object %>
  <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">手続き名(全角)</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :procedure_name, class:"input-name", id:"procedure-name", placeholder:"例) 拒絶理由通知" %>
    </div>
    <p class='info-text'>
      ※ カタカナは全角文字で入力してください。<br>
      ※ 英語は半角英字で入力してください。
    </p>
  </div>
  <br>
  <div class='register-btn'>
    <%= f.submit "登録" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>

<%= render "shared/second-footer"%>